#cartplace{
    position: absolute;
    right: 10rem;
    top: 2rem;
}

#cartplace img{
    position: absolute;
    z-index: 1;
    width: 5rem
}

#carts{
    position: absolute;
    z-index: 3;
    left: 4rem;
    width: 30px;
    height: 20px;
    background-color: red;
    padding-top: 5px;
    text-align: center;
    border-radius: 100%;
    color: white;
}