body {
    margin:0;
    padding:0;
    background-color: #B7B7B7;
}

.navBar {

    background-color:#006CBB;
    height:200px;
    position:sticky;
    top:0px;
    width:100%;
    margin-top:-1%;
}

#navBarLinks {
    display:inline;


}

#navBarLinks a {
    text-decoration: none;
    list-style-type: none;
 
}

#headerLinks {
    text-align:center;
    padding-top:3%;
    margin-left:10%;

}

.navButtons {
    display:inline;
    color:white;
    padding-left:4%;
    padding-right:4%;
    font-family: 'Exo', sans-serif;
    font-size:2rem;

}

#regularCriterium {
    z-index:3;
    font-size:3rem;
    margin-left: 5%;
    color:white;
    font-family: 'Racing Sans One', cursive;
    filter: drop-shadow(-1rem 1rem 1rem rgb(0, 0, 0));
    position:absolute;
    transition:0.5s;
}

#main{
    margin-top: 3%;
}

#form_Box{
    background-color: red;
    width: 30%;
    float: right;
    margin-left: 10%;
    margin-right: 10%;
}

#form{
    width: 50%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

#item_List{
    width: 40%;
    background-color: #979797;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
}

#items{
    display: flex;
    align-items: stretch;
}

.remove{
    cursor: pointer;
}