body {
    margin:0;
    padding:0;
    background-color: #B7B7B7;
}

.navBar {

    background-color:#006CBB;
    height:200px;
    position:sticky;
    top:0px;
    width:100%;
    margin-top:-1%;
}

#navBarLinks {
    display:inline;


}

#navBarLinks a {
    text-decoration: none;
    list-style-type: none;
 
}

#headerLinks {
    text-align:center;
    padding-top:3%;
    margin-left:10%;

}

.navButtons {
    display:inline;
    color:white;
    padding-left:4%;
    padding-right:4%;
    font-family: 'Exo', sans-serif;
    font-size:2rem;

}

#regularCriterium {
    z-index:3;
    font-size:3rem;
    margin-left: 5%;
    color:white;
    font-family: 'Racing Sans One', cursive;
    filter: drop-shadow(-1rem 1rem 1rem rgb(0, 0, 0));
    position:absolute;
    transition:0.5s;
}

.grungus{
    width: 45%;
    margin: auto;
    margin-top: 5%;
}

#dic_buttons
{
    list-style-type: none;
}

.fungus{
    display: inline;
    font-size: 3rem;
}

.center{
    width: 70%;
    margin: auto;
}

#directory_line{
    margin-top: -3% ;
    float: left;
    width: 12%;
}

.chongus{
    width: 80%;
    margin: auto;
    margin-top: 1%;
}

.chongus h1{
    position: relative;
    display: inline;
    z-index: -3;
}

.item_grid{
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
    width: 75%;
    float: right;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-gap: 1rem;
}

.af_grid_item{
    margin: auto;
}

#dir_af{
    margin-top: 8rem;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 16rem;
    margin-bottom: 8rem;

    border: black solid .5rem;
    border-radius: 3rem;

    text-align: center;
    padding-top: 16rem;
}

#item_grid_8{
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
    width: 75%;
    float: right;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 1rem;
}

#item_grid_6{
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
    width: 75%;
    float: right;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 1rem;
}

.gl_grid_item{
    margin: auto;
}

#dir_gl{
    margin-top: 8rem;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 16rem;
    margin-bottom: 8rem;

    border: black solid .5rem;
    border-radius: 3rem;

    text-align: center;
    padding-top: 16rem;
}

.ms_grid_item{
    margin: auto;
}

#dir_ms{
    margin-top: 8rem;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 16rem;
    margin-bottom: 8rem;

    border: black solid .5rem;
    border-radius: 3rem;

    text-align: center;
    padding-top: 16rem;
}

.tz_grid_item{
    margin: auto;
}

#dir_tz{
    margin-top: 8rem;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 16rem;
    margin-bottom: 8rem;

    border: black solid .5rem;
    border-radius: 3rem;

    text-align: center;
    padding-top: 16rem;
}