* {
    box-sizing: border-box;
}

body {
    margin:0;
    padding:0;
    background-color: #B7B7B7;
}

.navBar {

    background-color:#006CBB;
    height:250px;
    position:sticky;
    top:0px;
    width:100%;
    margin-top:-1%;
}

#navBarLinks {
    display:inline;


}

#navBarLinks a {
    text-decoration: none;
    list-style-type: none;
 
}

#headerLinks {
    text-align:center;
    padding-top:3%;
    margin-left:15%;

}

.navButtons {
    display:inline;
    color:white;
    padding-left:4%;
    padding-right:4%;
    font-family: 'Exo', sans-serif;
    font-size:2rem;

}

.actualNavLinks {
    text-align:center;

    
}

/* #mainTitle {
    margin-left:4%;
    margin-top:0;
    font-size:7rem;
    color:white;
    font-family: 'Racing Sans One', cursive;
    filter: drop-shadow(-1rem 1rem 1rem rgb(0, 0, 0));

} */


#headerContainer {
    z-index:0;
    width:100%;
}

#headerImg {
    z-index:1;
}



#overImgCriterium {
    z-index:3;
    margin-top:-20%;
    margin-left:10%;
    font-size:13rem;
    color:white;
    font-family: 'Racing Sans One', cursive;
    filter: drop-shadow(-1rem 1rem 1rem rgb(0, 0, 0));
    position:absolute;
    transition:0.5s;

}

#regularCriterium {
    z-index:3;
    font-size:9rem;
    margin-left: 3%;
    margin-top:0;
    color:white;
    font-family: 'Racing Sans One', cursive;
    filter: drop-shadow(-1rem 1rem 1rem rgb(0, 0, 0));
    position:absolute;
    transition:0.5s;
}

#rightColumn {
    width:25%;
    height:100%;
    float:right;
    background-color: #979797;
    border: 2px solid rgb(65, 65, 65);
}

#leftColumn {
    float:left;
    width:75%;
    border:5px solid blue;
}

#row::after {
    content:"";
    display:table;
    clear:both;
}

.columnHeadings {
    font-family: 'Jomhuria', cursive;
    color: #0141A0;
    font-size:7rem;
    text-align:center;
}

#columnContact {
    border: 2px solid black;
    margin-top:80%;
}

.Article {
    float:left;
    text-align:center;

    margin-left:10%;

    margin-top:10%;
    padding-left:0.25rem;
    padding-right:0.25rem;
    font-family: 'Jomhuria', cursive;
    width:60%;
}

.ArticleImg {
    width:850px;
    height:500px;
    border:2px solid black;
    overflow: hidden;
    margin-left:auto;
    margin-right:auto;
    
}

.bikeTech {
    display:block;
    margin-left:auto;
    margin-right:auto;
    
}

.ArticleHeader {
    font-size:6rem;
    width:80%;
    margin-left:auto;
    margin-right:auto;
    color: #000000;
    text-align: left;
    margin-top:2%;
    line-height: 60%;
}

.ArticleArtist {
    font-family: 'Jomhuria', cursive;
    color: #0141A0;
    font-size:5.5rem;
    text-align: left;
    margin-left:10%;
    margin-top:-5%;
}

.ArticleDate {
    font-family: 'Jomhuria', cursive;
    color: #000000;
    font-size:5.5rem;
    text-align: left;
    margin-left:10%;
    margin-top:-10%;
}

#ArticleHeader2 {
    font-size:6rem;
    width:80%;
    margin-left:auto;
    margin-right:auto;
    color: #000000;
    text-align: left;
    margin-top:2%;
    line-height: 70%;

}

#ArticleHeader3 {
    font-size:6rem;
    width:80%;
    margin-left:auto;
    margin-right:auto;
    color: #000000;
    text-align: left;
    margin-top:2%;
    line-height: 80%;
    
}

#footer {
    width:100%;
    background-color:#989898;
}

#footerNames {
    text-align:center;
    height:100px;
    font-size:1.5rem;
    margin-top:0;
    font-family: 'Exo', sans-serif;
    margin-bottom:-1%;
    padding-top:1%;
}