body {
    margin:0;
    padding:0;
    background-color: #B7B7B7;
}

.navBar {

    background-color:#006CBB;
    height:215px;
    position:sticky;
    top:0px;
    width:100%;
    margin-top:-1%;
}

#navBarLinks {
    display:inline;


}

#navBarLinks a {
    text-decoration: none;
    list-style-type: none;
 
}

#headerLinks {
    text-align:center;
    padding-top:3%;


}

.navButtons {
    display:inline;
    color:white;
    padding-left:4%;
    padding-right:4%;
    font-family: 'Exo', sans-serif;
    font-size:2rem;

}

#regularCriterium {
    z-index:3;
    font-size:3rem;
    margin-left: 5%;
    color:white;
    font-family: 'Racing Sans One', cursive;
    filter: drop-shadow(-1rem 1rem 1rem rgb(0, 0, 0));
    position:absolute;
    transition:0.5s;
}


#main{
    margin-top: 3%;
}

#side{
    position: fixed;
    float: left;
    width: 10%;
}

#filter_Box{
    padding: 10px;
    margin: auto;
    width: 80%;
    border: black solid 1px;
    border-radius: 3rem;   
    color:white;
    
    background-color: #0141A0;
    font-size: 1.25rem;
    margin-left: -2rem;
}

#filter_Title{
    margin-left: 20%;
}

#item_Grid{
    margin-right: 10%;
    margin-left: 10%;
    width: 80%;
    height: 80rem;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 30% 30% 30% 30% 30%;
    grid-gap: 1rem;
}

.grid_Item{
    border: black solid 2px;
    color:white;
    background-color: #989898;
    font-size: 1.5rem;
}

.picture{
    margin: 25%;
    height: fit-content;
}

.nombre{
    width: 100%;
    height: 5rem;
    float: left;
    text-align: center;
}

.money{
    width: 100%;
    height: 5rem;
    float: left;
    text-align: center;
}

.cart{
    width: 100%;
    float: left;
    text-align: center;
}

.filter{
    list-style-type: none;
}

#invis{
    display: none;
}

.picture{
    color: red;
}

.picture img{
    width: 50%;
}

#pages{
    width: 40%;
    margin-left: 1.25rem;
    color:white;
    background-color: #989898;
    font-size: 1.5rem;
}

#left{
    margin-right: 20%;
    cursor: pointer;
}

#right{
    margin-left: 20%;
    cursor: pointer;
}

/* windows */
@media only screen and (max-width: 1949px) {

    #headerLinks {
        text-align:center;
        padding-top:8%;
    }
    
    #regularCriterium {
        z-index:3;
        font-size:8.5rem;
        margin-left: 5%;
        margin-top:-1%;
        color:white;
        font-family: 'Racing Sans One', cursive;
        filter: drop-shadow(-1rem 1rem 1rem rgb(0, 0, 0));
        position:absolute;
        transition:0.5s;
    }

}


/* tablet */
@media only screen and (max-width: 1255px) {

}